body {
    /*min-width: 600px;*/
}

@media all and (min-width: 770px) {
    body {
        padding-top: 70px;
    }
}
@media all and (max-width: 770px) {
    body {
        padding-top: 210px;
    }
}

